<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mr Potato Head.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC459CB21C6E5DFA00E423B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC459CC61C6E5DFA00E423B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC459CD11C6E5DFA00E423B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
